In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression
from word2number import w2n

In [3]:
df = pd.read_csv('/Users/shashank/MyFiles/ProgrammingFiles/Datasets/hiring_data.csv',header=1)

In [4]:
df.head()

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000

In [5]:
df['experience'] = df['experience'].fillna('zero')
df.experience = df.experience.apply(w2n.word_to_num)

In [6]:
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(df['test_score(out of 10)'].mean())
df.head(10)

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [7]:
df.columns

Index(['experience', 'test_score(out of 10)', 'interview_score(out of 10)',
       'salary($)'],
      dtype='object')

In [8]:
X = df[['experience','test_score(out of 10)','interview_score(out of 10)']]
y = df[['salary($)']]

In [9]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=20)

In [10]:
model = LinearRegression()
model.fit(X,y)
model.score(X,y)

0.9639958361860578

In [11]:
model.predict([[2,9,6]])

/Users/shashank/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53290.89255945]])

In [12]:
import pickle     # saving the model using pickle

In [13]:
with open('model_pickle','wb') as f:
    pickle.dump(model,f)

In [14]:
with open('model_pickle','rb') as f:
    pmod = pickle.load(f)

In [15]:
pmod.predict([[2,9,6]])

/Users/shashank/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[53290.89255945]])